/*=========================================
RESET
=========================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--background-color);
    color:var(--white);
    font-family:var(--body-font);
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

img{
    width:100%;
    display:block;
}

button{
    font-family:inherit;
    cursor:pointer;
    border:none;
}

svg{
    display:block;
}