/*=========================================
                NAVBAR
=========================================*/

.header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    z-index:999;

    backdrop-filter:blur(12px);

    background:rgba(15,23,42,.65);

    border-bottom:1px solid rgba(255,255,255,.05);

}

.navbar{

    height:80px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}

.logo{

    font-size:1.8rem;

    font-weight:700;

    font-family:var(--heading-font);

}

.logo span{

    color:var(--primary-color);

}

.nav-links{

    display:flex;

    gap:40px;

}

.nav-links a{

    color:var(--gray);

    transition:var(--transition);

    font-weight:500;

}

.nav-links a:hover{

    color:var(--primary-color);

}

.nav-buttons{

    display:flex;

    gap:15px;

}

.login-btn{

    padding:12px 22px;

    border-radius:var(--radius-md);

    transition:var(--transition);

}

.login-btn:hover{

    color:var(--primary-color);

}

.primary-btn{

    padding:12px 24px;

    background:var(--primary-color);

    border-radius:var(--radius-md);

    color:white;

    transition:var(--transition);

}

.primary-btn:hover{

    transform:translateY(-3px);

    background:var(--primary-dark);

    box-shadow:var(--shadow-md);

}